<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Fanshop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Football Fanshop</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img src="/images/d1.jpg" alt="product" />
                            <div class="product-name">Manchester United men's shirt 2021/2022</div>
                            <div class="product-brand">Adidas</div>
                            <div class="price">79.99 лв.</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            Tsvetomir Dimitrov © All rights reserved.
        </footer>
    </div>
</body>

</html>