<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Fanshop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Football Fanshop</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image"
                                src="https://cdn.shopify.com/s/files/1/1055/5166/products/ADIDAMANUNITEDJERSEYH31447SHOPIFY_3_2400x.png?v=1628489228"
                                alt="product" />
                            <div class="product-name">
                                <a href="product.html">Manchester United men home shirt 2021/2022</a>
                            </div>
                            <div class="product-brand">Adidas</div>
                            <div class="product-price">79.99 лв.</div>
                            <div class="product-rating">5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image"
                                src="https://cdn.shopify.com/s/files/1/1055/5166/products/ADIDAMANUNITEDJERSEYH31447SHOPIFY_3_2400x.png?v=1628489228"
                                alt="product" />
                            <div class="product-name">
                                <a href="product.html">Manchester United men home shirt 2021/2022</a>
                            </div>
                            <div class="product-brand">Adidas</div>
                            <div class="product-price">79.99 лв.</div>
                            <div class="product-rating">5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image"
                                src="https://cdn.shopify.com/s/files/1/1055/5166/products/ADIDAMANUNITEDJERSEYH31447SHOPIFY_3_2400x.png?v=1628489228"
                                alt="product" />
                            <div class="product-name">
                                <a href="product.html">Manchester United men home shirt 2021/2022</a>
                            </div>
                            <div class="product-brand">Adidas</div>
                            <div class="product-price">79.99 лв.</div>
                            <div class="product-rating">5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image"
                                src="https://cdn.shopify.com/s/files/1/1055/5166/products/ADIDAMANUNITEDJERSEYH31447SHOPIFY_3_2400x.png?v=1628489228"
                                alt="product" />
                            <div class="product-name">
                                <a href="product.html">Manchester United men home shirt 2021/2022</a>
                            </div>
                            <div class="product-brand">Adidas</div>
                            <div class="product-price">79.99 лв.</div>
                            <div class="product-rating">5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image"
                                src="https://cdn.shopify.com/s/files/1/1055/5166/products/ADIDAMANUNITEDJERSEYH31447SHOPIFY_3_2400x.png?v=1628489228"
                                alt="product" />
                            <div class="product-name">
                                <a href="product.html">Manchester United men home shirt 2021/2022</a>
                            </div>
                            <div class="product-brand">Adidas</div>
                            <div class="product-price">79.99 лв.</div>
                            <div class="product-rating">5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image"
                                src="https://cdn.shopify.com/s/files/1/1055/5166/products/ADIDAMANUNITEDJERSEYH31447SHOPIFY_3_2400x.png?v=1628489228"
                                alt="product" />
                            <div class="product-name">
                                <a href="product.html">Manchester United men home shirt 2021/2022</a>
                            </div>
                            <div class="product-brand">Adidas</div>
                            <div class="product-price">79.99 лв.</div>
                            <div class="product-rating">5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image"
                                src="https://cdn.shopify.com/s/files/1/1055/5166/products/ADIDAMANUNITEDJERSEYH31447SHOPIFY_3_2400x.png?v=1628489228"
                                alt="product" />
                            <div class="product-name">
                                <a href="product.html">Manchester United men home shirt 2021/2022</a>
                            </div>
                            <div class="product-brand">Adidas</div>
                            <div class="product-price">79.99 лв.</div>
                            <div class="product-rating">5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            Tsvetomir Dimitrov © All rights reserved.
        </footer>
    </div>
</body>

</html>